* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #ecedf2;
}


/* -- INICIO DO CONTAINER -- */
.container {
    width: 700px;
    padding: 1em 2em;
    margin: 1em auto;
    background-color: white;
}

.nome {
    text-align: center;
}

.nome h2 {
    color: rgb(44, 36, 36);
    margin-bottom: 0.4em;
}

.nome p {
    line-height: 1.6em;
    font-size: 1em;
    color: rgb(44, 36, 36);
}

.espaco-dados-pessoais {
    margin-top: 1.5em;
}

form span.asterisco {
    color: #71bedd;
}

label {
    display: block;
    font-size: 1em;
    margin-bottom: 0.3em;
}

input[type="text"] {
    width: 99.5%;
    height: 2.5em;
    margin-bottom: 1.3em;
}


/* INICIO APLICAÇÕES GERAIS */
input[type="text"],
textarea {
    border: solid #71bedd 1px;

}

.container,
.espaco-radio,
button[type="submit"],
input[type="text"],
textarea {
    border-radius: 0.3em;
}

input::placeholder,
textarea::placeholder {
    font-size: 1.1em;
    text-indent: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
}
/* FIM APLICAÇÕES GERAIS */


.espaco-servicos {
    margin-top: 1.3em;
}

.espaco-radio {
    margin-top: 0.5em;
    padding: 0.7em 0.5em;
    background-color: #e7f0f7;
}

.espaco-mensagem {
    margin-top: 2.6em;
}

textarea {
    margin-top: 0.5em;
}

.botao {
    text-align: center;
    margin-top: 0.5em;
}

button[type="submit"] {
    color: black;
    border: none;
    font-size: 0.7em;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 1em 1.5em;
    background-color: #e7f0f7;
}

button[type="submit"]:hover {
    color: aliceblue;
    background-color: #71bedd;
}

/* -- FIM DO CONTAINER -- */